---
title: TestRun
---

[**@codebolt/types**](../index.md)

***

# Interface: TestRun

Defined in: common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts:102

## Properties

| Property | Type | Defined in |
| ------ | ------ | ------ |
| <a id="completedat"></a> `completedAt?` | `string` | common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts:110 |
| <a id="createdat"></a> `createdAt` | `string` | common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts:108 |
| <a id="id"></a> `id` | `string` | common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts:103 |
| <a id="name"></a> `name` | `string` | common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts:105 |
| <a id="status"></a> `status` | [`TestRunStatus`](../type-aliases/TestRunStatus) | common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts:106 |
| <a id="testcases"></a> `testCases` | [`TestRunCase`](TestRunCase)[] | common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts:107 |
| <a id="testsuiteid"></a> `testSuiteId` | `string` | common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts:104 |
| <a id="updatedat"></a> `updatedAt` | `string` | common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts:109 |
