---
title: TestRun
---

[**@codebolt/types**](../index)

***

# Interface: TestRun

Defined in: common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts:102

## Properties

| Property | Type | Defined in |
| ------ | ------ | ------ |
| <a id="completedat"></a> `completedAt?` | `string` | [common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts:110](common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts#L110) |
| <a id="createdat"></a> `createdAt` | `string` | [common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts:108](common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts#L108) |
| <a id="id"></a> `id` | `string` | [common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts:103](common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts#L103) |
| <a id="name"></a> `name` | `string` | [common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts:105](common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts#L105) |
| <a id="status"></a> `status` | [`TestRunStatus`](../type-aliases/TestRunStatus) | [common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts:106](common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts#L106) |
| <a id="testcases"></a> `testCases` | [`TestRunCase`](TestRunCase)[] | [common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts:107](common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts#L107) |
| <a id="testsuiteid"></a> `testSuiteId` | `string` | [common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts:104](common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts#L104) |
| <a id="updatedat"></a> `updatedAt` | `string` | [common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts:109](common/types/src/codeboltjstypes/libFunctionTypes/autoTesting.ts#L109) |
