---
title: TestRun
---

[**@codebolt/codeboltjs**](../index)

***

# Interface: TestRun

Defined in: common/types/dist/codeboltjstypes/libFunctionTypes/autoTesting.d.ts:87

## Properties

| Property | Type | Defined in |
| ------ | ------ | ------ |
| <a id="completedat"></a> `completedAt?` | `string` | common/types/dist/codeboltjstypes/libFunctionTypes/autoTesting.d.ts:95 |
| <a id="createdat"></a> `createdAt` | `string` | common/types/dist/codeboltjstypes/libFunctionTypes/autoTesting.d.ts:93 |
| <a id="id"></a> `id` | `string` | common/types/dist/codeboltjstypes/libFunctionTypes/autoTesting.d.ts:88 |
| <a id="name"></a> `name` | `string` | common/types/dist/codeboltjstypes/libFunctionTypes/autoTesting.d.ts:90 |
| <a id="status"></a> `status` | [`TestRunStatus`](../type-aliases/TestRunStatus) | common/types/dist/codeboltjstypes/libFunctionTypes/autoTesting.d.ts:91 |
| <a id="testcases"></a> `testCases` | [`TestRunCase`](TestRunCase)[] | common/types/dist/codeboltjstypes/libFunctionTypes/autoTesting.d.ts:92 |
| <a id="testsuiteid"></a> `testSuiteId` | `string` | common/types/dist/codeboltjstypes/libFunctionTypes/autoTesting.d.ts:89 |
| <a id="updatedat"></a> `updatedAt` | `string` | common/types/dist/codeboltjstypes/libFunctionTypes/autoTesting.d.ts:94 |
